.services{
    padding: 10rem 0;

    @media only screen and (max-width: $medium){
        padding: 4.8rem 0;
    }
    &__title{
        max-width: 34.6rem;

        @media only screen and (max-width: $large){
            margin-left:5%;
        }
    }

    &__components{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // @media only screen and (max-width: $large){
        //    flex-direction: column;
        //    justify-content: center;
        // }
    
    }

    &__card{

        
        width: 34.1rem;
        padding: 4.6rem 3.4rem;
        cursor: pointer;

        @media only screen and (max-width: $large){
            width: 100%;

            &:not(:last-child){
                margin-bottom: 2rem;
            }
         }

       
        

     

        &:hover{

            background: $color-1;
            box-shadow: .0rem 1.0rem 3.0rem rgba(51, 51, 51, 0.1);
            border-radius: 2.4rem;

        }
    }

    &__icon{
        padding: 2rem;
        height: 6.7rem;
        width: 6.7rem;
        margin-bottom: 3.5rem;
        border-radius: 1.6rem;

        &--1{
            background: $primary;
        }

        &--2{
            background: $bg-box-icon-2;
        }

        &--3{
            background: $tertiary;
        }

        & .icon{
            width: 2.7rem;
            height: 2.7rem;
            fill: $color-1;
        }
    }

    &__cta{
        padding: .9rem 1.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

   
}