$color-1:#FFFFFF;
$color-2:#F2F2F2;
$color-3:#E0E0E0;

$primary:#2D9CDB;
$secondary:#828282;
$tertiary:  #EB5757;

$text-color: #333333;
$paragraph-color: #4F4F4F;
$input-color: #BDBDBD;

// $bg-box-icon-1: #2D9CDB;
$bg-box-icon-2: #27AE60;



$team-span: #EB5757;

$bg-footer: #100E1D;

$copyright-color:#A9A9A9;