.btn{
    display: inline-block;
    border: none;
    outline: none;
    // padding: .9rem 1.2rem;
    font-weight: 500;
    border-radius: 1.2rem;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;

    &:hover{
      transform: translateY(-3px);
    }

    &:active{
        transform: translateY(-1px);
    }


    &-primary{  
        color: $color-2;
        background-color: $primary;
       
    }

    &-secondary{
        color: $secondary;
        background: $color-3;
    }
}