.form-email{

    &__label{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $secondary;
        margin-bottom: .9rem;
    }

    &__group{
        position: relative;
        width: 100%;

        &-input{
            width: 100%;
            padding: 1.5rem 2.1rem;
            border-radius: 1.2rem;
            background: $color-2;
            border: none;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color:$text-color;

        

        }

        &-btn{
            display: inline-block;
            border: none;
            outline: none;
            font-weight: 500;
            border-radius: 1.2rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: .4rem;
            padding: 1.1rem 2.7rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
            cursor: pointer;
            @media only screen and (max-width: $medium){
                font-size: 1.4rem;
                line-height: 2.1rem;

            }
        }
    }

}